.features-section {
  background-color: #000000;
  padding: 100px 75px;
  display: flex;
  align-items: center;
  font-family: var(--font-inter), sans-serif;
}

.features-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.features-left {
  /* flex: 1; */
  width: 40%;
  position: sticky;
  top: 150px;
}

.features-subtitle {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #fff;
}

.features-right {
  /* flex: 1; */
  width: 60%;
}

.features-list {
  display: flex;
  flex-direction: column;
}

.feature-item {
  display: flex;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.feature-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.feature-icon {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.feature-title-wrapper {
  flex: 0 0 350px;
  padding-right: 40px;
}

.feature-desc-wrapper {
  flex-grow: 1;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .features-section {
    padding: 100px 40px;
  }
  .features-container {
    flex-direction: column;
    gap: 60px;
  }
  .features-left {
    position: relative;
    top: 0;
  }
  .feature-item {
    padding: 30px 0;
  }
  .feature-title-wrapper {
    flex: 0 0 250px;
  }
}

@media (max-width: 768px) {
  .features-section {
    padding: 80px 20px;
  }
  .feature-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .feature-icon {
    flex: none;
    margin-bottom: 10px;
  }
  .feature-title-wrapper {
    flex: none;
    padding-right: 0;
  }
}
